# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
dist/
build/
.pytest_cache/

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/
profiles.yml

# local
_out/
.env

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
backend.hcl
*.tfplan
tfplan
